@import '../assets/styles/variables.scss';

.container {
  margin: 35px auto;
  padding: 0 15px;
  box-sizing: border-box;

  .title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
  }

  .subtitle {
    margin: 0;
    color: $secondary-color;
    font-size: 16px;
    width: 100%;
  }

  .section {
    height: 100%;
  }
}

.option-button {
  text-transform: capitalize;
}

.option-button:hover, .button-selected {
  color: $primary-color !important;
  background-color: $terciary-color !important;
}

.options-container {
  float: left;

  .buttons-container {
    margin: 10px 0;

    .color-display-button {
      width: 150px;
    }
  }
}

.color-display-container {
  float: right;

  .color-display {
    height: 250px;
    width: 100%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: all .2s ease-in-out;
  }
}

.data-display {
  overflow: auto;
  white-space: nowrap;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #999;
  background-color: #333;
  display: block;
  margin: 30px 0;
  padding: 20px;
  border: 2px solid #999;
  border-radius: 10px;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: 0 2px 0 0 #999;
  -webkit-user-select: text!important;
  -moz-user-select: text!important;
  -ms-user-select: text!important;
  user-select: text!important;

  .template {
    cursor: pointer;
  }
}

.column-value {
  width: 120px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
