<div class='row container'>
  <div class='col-lx-12 col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <h1 class='title'>
      CSS GRADIENT
    </h1>
    <h2 class='subtitle'>Gradient Generator for Linear and Radial Css Color Gradients</h2>
  </div>
</div>

<div class='row container'>
  <div class='col-lx-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 section options-container'>
    <div class='row option'>
      <label>STYLE:</label>
      <div class='buttons-container'>
        <ng-container *ngFor='let style of styles'>
          <button class='option-button' [ngClass]='{ "button-selected": template.style == style }' (click)='selectStyle(style)'>{{ style }}</button>
        </ng-container>
      </div>
    </div>
    <div class='row option'>
      <label>DIRECTION:</label>
      <div class='buttons-container'>
        <ng-container *ngFor='let direction of directions'>
          <button class='option-button' [ngClass]='{ "button-selected": template.direction == direction }' (click)='selectDirection(direction)'>{{ direction }}</button>
        </ng-container>
      </div>
    </div>
    <div class='row option'>
      <label>COLORS:</label>
      <div class='buttons-container'>
        <div class='row buttons-container'>
          <button class='color-selector color-one' [(colorPicker)]='template.color_one' (colorPickerChange)='changeColorOne(convertColorFormat($event))' [style.background]='template.color_one' [style.color]='template.color_one' [value]='template.color_one'>.</button>
          <button class='color-display-button' [(colorPicker)]='template.color_one' (colorPickerChange)='changeColorOne(convertColorFormat($event))'>{{ template.color_one }}</button>
        </div>
        <div class='row buttons-container'>
          <button class='color-selector color-two' [(colorPicker)]='template.color_two' (colorPickerChange)='changeColorTwo(convertColorFormat($event))' [style.background]='template.color_two' [style.color]='template.color_two' [value]='template.color_two'>.</button>
          <button class='color-display-button' [(colorPicker)]='template.color_two' (colorPickerChange)='changeColorTwo(convertColorFormat($event))'>{{ template.color_two }}</button>
        </div>
      </div>
    </div>
    <div class='row option'>
      <label>COLOR FROMAT:</label>
      <div class='buttons-container'>
        <ng-container *ngFor='let color_format of color_formats'>
          <button class='option-button' [ngClass]='{ "button-selected": template.color_format == color_format }' (click)='selectColorFormat(color_format)'>{{ color_format }}</button>
        </ng-container>
      </div>
    </div>
  </div>

  <div class='col-lx-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 section color-display-container'>
    <div class='color-display' [style]='display_color'></div>
    <div class='vendor-prefixes-container data-display'>
      <ng-container *ngFor='let vendor_prefix of vendor_prefixes'>
        <div>Background: {{ vendor_prefix }}{{ template.style }}-gradient({{ template.direction }}, {{ template.color_one }}, {{ template.color_two }})</div>
      </ng-container>
    </div>
  </div>
</div>

<div class='row container'>
  <div class='col-lx-12 col-lg-12 col-md-12 col-sm-12 col-xs-12'>
    <div class='col-lx-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 section'>
      <h1 class='title'>
        TEMPLATES
      </h1>
    </div>
      <div class='col-lx-12 col-lg-12 col-md-12 col-sm-12 col-xs-12'>
      <div class='template-input'>
        <label>Name: </label>
        <input [(ngModel)]='template.name'>
        <div class='error-message' *ngIf="errors['name']">{{ errors['name'] }}</div>
      </div>
      <div class='template-input'>
        <label>Creator: </label>
        <input [(ngModel)]='template.creator'>
        <div class='error-message' *ngIf="errors['creator']">{{ errors['creator'] }}</div>
      </div>
      <button class='option-button' type='submit' (click)='addTemplate()'>Add</button>
      </div>
    <div class='templates-container data-display'>
    <table class='table'>
      <thead>
        <tr class='headers'>
          <th class='column-title'>
            <div class='column-header'>
              Name
            </div>
          </th>
          <th class='column-title'>
            <div class='column-header'>
              Creator
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class='template' *ngFor='let template of templates' (click)='selectTemplate(template)'>
          <td class='column-value'>{{ template.name }}</td>
          <td class='column-value'>{{ template.creator }}</td>
          <td class='column-value'>
            <button class='option-button' (click)='deleteTemplate(template)'>X</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

