@import './variables.scss';

.color-picker {
  left: 170px !important;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: $primary-color;
  color: $terciary-color;
  font-family: Montserrat, sans-serif !important;
}

label {
  display: block;
  color: $secondary-color;
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 14px;
}

button {
  color: $secondary-color;
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 0 0 $secondary-color;
  -moz-box-shadow: 0 2px 0 0 $secondary-color;
  box-shadow: 0 2px 0 0 $secondary-color;
  font-size: 14px;
  padding: 5px 20px;
  margin: 0 10px 10px 0;
  display: inline-block;
  cursor: pointer;
}

input {
  display: inline-block;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  line-height: 16px;
}

label {
  display: inline-block;
  width: 120px;
}

.error-message {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  color: $error;
}

:focus {
  outline: 0!important;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
